MEDIABIRDS Alt-text Wordpress.json
{
  "name": "MEDIABIRDS Alt-text Wordpress",
  "nodes": [
    {
      "parameters": {
        "content": "## Alt text for media\n\nAlt tekst = 80 t/m 100 tekens —> beschrijft wat er visueel te zien is → goed voor schermlezers & SEO\nTitel = max 60 tekens\nBijschrift = 40 t/m 100 tekens —> geeft context voor iedereen\nBeschrijving = 100 t/m 200 tekens —> lange inhoudelijke toelichting",
        "height": 220,
        "width": 1100,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -304,
        -608
      ],
      "id": "e2178d4d-77ad-4d6b-9afa-6d8a4952283c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Verschillende ophaal mogelijkheden",
        "height": 220,
        "width": 988,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        848,
        -608
      ],
      "id": "142a1d53-4061-4803-83c6-60c2bb937571",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "url": "https://reneko-kozijnen.nl/wp-json/wp/v2/media?per_page=100",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        -544
      ],
      "id": "b35d3766-ed86-43e4-b0a4-d9846d65face",
      "name": "First 100",
      "credentials": {
        "wordpressApi": {
          "id": "waeTUkL5l8R0EpWv",
          "name": "vdzandtkeukens"
        }
      }
    },
    {
      "parameters": {
        "url": "https://reneko-kozijnen.nl/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "per_page",
              "value": "100"
            },
            {
              "name": "after",
              "value": "2024-11-14T00:00:00Z"
            },
            {
              "name": "before",
              "value": "2025-04-08T23:59:59Z"
            },
            {
              "name": "orderby",
              "value": "date"
            },
            {
              "name": "order",
              "value": "asc"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        -544
      ],
      "id": "163536d4-d6dc-4760-811a-80b487174337",
      "name": "after & before1",
      "credentials": {
        "wordpressApi": {
          "id": "waeTUkL5l8R0EpWv",
          "name": "vdzandtkeukens"
        }
      }
    },
    {
      "parameters": {
        "content": "## Alt-tekst automatisering",
        "height": 528,
        "width": 2656
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -304,
        -352
      ],
      "id": "2ab6a0a9-001e-4cf1-af5e-fc07500ffbfe",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        688,
        -144
      ],
      "id": "f1e29aba-6def-40e6-9eb3-ea4bb1efa8ee",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a9ea0d7b-8dcf-40c7-907e-a786e3ac371f",
              "name": "foto",
              "value": "={{ $json.guid.rendered }}",
              "type": "string"
            },
            {
              "id": "a1a202c2-1eaf-4e9c-98f6-1ab38812c2a6",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "cb5549bf-7717-4478-b4b6-ef3049284671",
              "name": "alt tekst",
              "value": "={{ $json.alt_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        -160
      ],
      "id": "ba560131-5752-477c-ab5c-7b93753fbfe2",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Jij bent een Media Metadata Specialist: een AI-assistent gespecialiseerd in SEO en toegankelijkheid voor afbeeldingen. Jouw taak is om op basis van een tekstuele analyse van een afbeelding de vier vereiste WordPress metadata-velden te schrijven.\n\nCONTEXT\nBedrijf/website context (gebruik dit alleen als het relevant is voor het bijschrift of de beschrijving, forceer het niet): {{ $('App ww').item.json.bedrijfsnaam }}\n\nINPUT\nAfbeelding omschrijving: {{ $json.content }}\n\nTAAK\nGenereer een JSON-object met exact vier keys: alt_tekst, titel, bijschrift en beschrijving. Volg per veld onderstaande instructies en tekenlimieten strikt.\n\n1. alt_tekst\nDoel: Letterlijke, objectieve beschrijving van wat er visueel te zien is. Cruciaal voor schermlezers en SEO.\nInstructies:\n- Beschrijf alleen wat zichtbaar is, geen interpretatie of marketingtaal.\n- Begin niet met \"Afbeelding van\" of \"Foto van\" — ga direct naar de inhoud.\n- Als er leesbare tekst in de afbeelding staat en die is relevant, neem die letterlijk op.\n- Noem hoofdonderwerp, belangrijke details, en context (omgeving, kleur, compositie) indien relevant.\nTekens: strikt tussen 80 en 100 tekens.\n\n2. titel\nDoel: Korte, herkenbare titel voor identificatie in de WordPress mediabibliotheek.\nInstructies:\n- Sentence case (alleen het eerste woord met een hoofdletter, plus eigennamen).\n- Geen bestandsextensies, geen underscores of streepjes.\n- Vat het onderwerp bondig samen, scanbaar in één oogopslag.\nTekens: strikt maximaal 60 tekens.\n\n3. bijschrift\nDoel: Context voor de bezoeker, vaak zichtbaar onder de afbeelding op de pagina.\nInstructies:\n- Voeg waarde toe bovenop wat al zichtbaar is: een observatie, locatie, naam, moment, of relevante toelichting.\n- Mag iets meer toon hebben dan de alt-tekst, maar blijf feitelijk.\n- Geen verkooppraat of overdreven bijvoeglijke naamwoorden.\nTekens: strikt tussen 40 en 100 tekens.\n\n4. beschrijving\nDoel: Uitgebreidere toelichting voor intern beheer en aanvullende SEO-waarde.\nInstructies:\n- Geef achtergrond, bredere context, of details die niet direct zichtbaar zijn maar wel relevant.\n- Combineer visuele elementen met betekenis of functie van de afbeelding.\n- Schrijf in volledige zinnen.\nTekens: strikt tussen 100 en 200 tekens.\n\nALGEMENE REGELS\n- Schrijf in het Nederlands, tenzij de input duidelijk een andere taal vereist.\n- Herhaal niet exact dezelfde zin in meerdere velden — elk veld heeft een eigen doel en invalshoek.\n- Als de input te weinig informatie bevat voor een veld, baseer je dan op wat er wél bekend is en houd het neutraal en feitelijk. Verzin geen specifieke namen, locaties of feiten die niet uit de input blijken.\n- Tel tekens inclusief spaties en leestekens. Blijf binnen de gestelde limieten.\n\nOUTPUT\nGeef uitsluitend het pure JSON-object terug, zonder code fences, zonder uitleg, zonder commentaar. Voorbeeldstructuur:\n{\n  \"alt_tekst\": \"...\",\n  \"titel\": \"...\",\n  \"bijschrift\": \"...\",\n  \"beschrijving\": \"...\"\n}",
              "role": "system"
            },
            {
              "content": "={\n  \"alt_tekst\": \"\",\n  \"titel\": \"\",\n  \"bijschrift\": \"\",\n  \"beschrijving\": \"\"\n}\n"
            },
            {
              "role": "assistant"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1264,
        -80
      ],
      "id": "509df79f-8232-4442-8d28-a233d698558a",
      "name": "Alt tekst",
      "credentials": {
        "openAiApi": {
          "id": "OVQ82Dh9luQQ2D4Q",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['alt tekst'] }}",
                    "rightValue": "={{ $json['alt tekst'] }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "9e84cf1e-80a2-414e-81d5-48b6150c09de"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Aanwezig"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "59742970-f742-4f8f-acef-f872640eaddc",
                    "leftValue": "={{ $json['alt tekst'] }}",
                    "rightValue": "=",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Afwezig"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        464,
        -160
      ],
      "id": "77666d39-3426-4aae-87fc-90223fde05c3",
      "name": "Alt tekst aanwezigheid5"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2096,
        -80
      ],
      "id": "379576ee-22af-4069-b752-4c3bc3cdcf33",
      "name": "Wait5",
      "webhookId": "24023ff5-f09b-4aa9-a944-67f925e5ae02"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Omschrijf de afbeelding",
        "imageUrls": "={{ $json.foto }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        912,
        -64
      ],
      "id": "609e5713-adaa-4d9e-b771-683dd9b80f34",
      "name": "Analyze image9",
      "alwaysOutputData": true,
      "credentials": {
        "openAiApi": {
          "id": "OVQ82Dh9luQQ2D4Q",
          "name": "OpenAi account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://{{ $json.domain }}/wp-json/wp/v2/media",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "per_page",
              "value": "100"
            },
            {
              "name": "_fields",
              "value": "id,source_url,alt_text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        240
      ],
      "id": "045b1e01-a6f5-450e-9530-ea5403ac2c79",
      "name": "First 2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b6d054ac-4c1b-4091-8369-f3f7e1bbca72",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        -160
      ],
      "id": "07444ef6-9778-4f6c-b89f-1b4cd692cd44",
      "name": "Webhook",
      "webhookId": "b6d054ac-4c1b-4091-8369-f3f7e1bbca72",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7C3qMUp9iigfBcY1",
          "name": "Mediabirds dashboard"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1264,
        -256
      ],
      "id": "fd469530-8922-4369-a530-10f46536d20c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51e6bdad-d015-4bd4-a36b-0322b794044b",
              "name": "Output",
              "value": "Alt-teksten zijn succesvol ingevuld!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        -256
      ],
      "id": "3e8bfbac-fac0-4f0f-9a52-2e9554ad144a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae53991c-d223-4885-aa92-95f42c63d0d0",
              "name": "app_password",
              "value": "={{ $json.body.app_password }}",
              "type": "string"
            },
            {
              "id": "2818b504-84ba-489b-ab5d-7cb15192ce4f",
              "name": "domain",
              "value": "={{ $json.body.domain }}",
              "type": "string"
            },
            {
              "id": "e241a2e9-185e-4dc2-ab87-13c9756c6901",
              "name": "bedrijfsnaam",
              "value": "={{ $json.body.bedrijfsnaam }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        -160
      ],
      "id": "1b26dd07-b0a5-48f0-88c9-abb88247bf0b",
      "name": "App ww"
    },
    {
      "parameters": {
        "jsCode": "const u = $json.Gebruikersnaam;\nconst p = $json.app_password;\n\nif (!u || !p) {\n  throw new Error('Gebruikersnaam of app_password ontbreekt');\n}\n\nreturn [{\n  json: {\n    ...$json,\n    authHeader: 'Basic ' + Buffer.from(`${u}:${p}`).toString('base64'),\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        -80
      ],
      "id": "92866b20-61ea-40ec-b99f-e8c43d7a8c50",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5273bf3e-773b-4052-9244-23e457df8d29",
              "name": "Gebruikersnaam",
              "value": "mediabirds",
              "type": "string"
            },
            {
              "id": "9381ad57-3f5d-447f-8382-0593af5ff1ba",
              "name": "app_password",
              "value": "={{ $('App ww').item.json.app_password }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        -80
      ],
      "id": "b062fb5b-a568-48b8-b95f-aa83c9dc64b7",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://{{ $('App ww').item.json.domain }}/wp-json/wp/v2/media/{{ $('Edit Fields6').item.json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.authHeader }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "caption",
              "value": "={{ $('Alt tekst').item.json.choices[0].message.content.bijschrift }}"
            },
            {
              "name": "description",
              "value": "={{ $('Alt tekst').item.json.choices[0].message.content.beschrijving }}"
            },
            {
              "name": "title",
              "value": "={{ $('Alt tekst').item.json.choices[0].message.content.titel }}"
            },
            {
              "name": "alt_text",
              "value": "={{ $('Alt tekst').item.json.choices[0].message.content.alt_tekst }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        -80
      ],
      "id": "a8295899-8eb0-4bab-8784-48a86a20c0bd",
      "name": "Post data"
    },
    {
      "parameters": {
        "url": "=https://amolf.mediabirds.dev/wp-json/wp/v2/media\n",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "per_page",
              "value": "100"
            },
            {
              "name": "order",
              "value": "asc"
            },
            {
              "name": "orderby",
              "value": "date"
            },
            {
              "name": "_fields",
              "value": "id,source_url,alt_text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        -160
      ],
      "id": "d1af2115-336c-40ae-aa7d-a9f585845351",
      "name": "last"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('App ww').item.json.domain }}/wp-json/wp/v2/media/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"alt_text\": \"\",\n  \"caption\": \"\",\n  \"description\": \"\",\n  \"title\": \"\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        -544
      ],
      "id": "70e56785-d26e-4c2a-b08c-55fed7ac3fe2",
      "name": "Delete alt teksts",
      "credentials": {
        "httpHeaderAuth": {
          "id": "lGLjer52Q8DArKmN",
          "name": "Tikt nieuwsbrief"
        },
        "wordpressApi": {
          "id": "n2wx8CFJkyIXpuIm",
          "name": "Amolf"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        912,
        -256
      ],
      "id": "c6e5d694-c761-444e-af7b-07ef6532a51a",
      "name": "Limit"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "tikt.app.n8n.cloud",
            "user-agent": "Deno/2.1.4 (variant; SupabaseEdgeRuntime/1.70.3)",
            "content-length": "89",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "*",
            "authorization": "Bearer Fhe834uhUahe8efjkDFVe7hveuje893hjD",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2a05:d014:61b:270b:5a18:b3fc:ee5a:bc66",
            "cf-ew-via": "15",
            "cf-ipcountry": "DE",
            "cf-ray": "9cfccbd6c4ca5d79-FRA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "2a05:d014:61b:270b:5a18:b3fc:ee5a:bc66, 172.69.150.103",
            "x-forwarded-host": "tikt.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-89-8567ddc79c-gsljl",
            "x-is-trusted": "yes",
            "x-real-ip": "2a05:d014:61b:270b:5a18:b3fc:ee5a:bc66"
          },
          "params": {},
          "query": {},
          "body": {
            "bedrijfsnaam": "Amolf",
            "domain": "amolf.mediabirds.dev",
            "app_password": "BFFf vdTm JBpE LDjQ r8mz kuYI"
          },
          "webhookUrl": "https://tikt.app.n8n.cloud/webhook/b6d054ac-4c1b-4091-8369-f3f7e1bbca72",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "First 100": {
      "main": [
        []
      ]
    },
    "Loop Over Items3": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze image9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Alt tekst aanwezigheid5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alt tekst": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alt tekst aanwezigheid5": {
      "main": [
        [],
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image9": {
      "main": [
        [
          {
            "node": "Alt tekst",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "First 2": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "App ww",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "App ww": {
      "main": [
        [
          {
            "node": "last",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Post data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post data": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "last": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedPerExecution": 3
  },
  "versionId": "dc2ab5ff-8efb-4bae-a55e-2169f2761552",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8a03e95d7c8df73727445c383fb3cd28d1b7353623d0190a6ee0f43d207dd963"
  },
  "id": "AalCXDTjM2jVQ6YB",
  "tags": []
}